Repository EndrAnimet/DeltaV-Stray, pull requests merged in 2024-05, with the labels that each got.

#4 Printer
  .vscode/settings.json
  README.md
  Resources/Audio/Stray/Machines/scanning.ogg
  Resources/Prototypes/Stray/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/Stray/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Stray/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Stray/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Stray/Lathes/misc.yml
  Resources/Prototypes/Stray/Reagents/Materials/materials.yml
  Resources/Prototypes/Stray/Recipes/Lathes/categories.yml
  Resources/Prototypes/Stray/Recipes/Lathes/printer.yml
  Resources/Prototypes/Stray/Stack/other_stacks.yml
  Resources/Textures/Stray/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Stray/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Stray/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/Stray/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Stray/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Stray/Structures/Machines/printer.rsi/panel.png
Labels: Changes: Sprite, Changes: Documentation, Changes: YML

#6 Роллы
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/Stray/Entities/Objects/Materials/Sheets/other.yml
Labels: Changes: YML

#13 fixPrinter
  Resources/Prototypes/Stray/Entities/Structures/Machines/printer.yml
Labels: Changes: YML

#16 Shadowkin
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
Labels: Changes: YML

#17 ShadowkinHead
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-shadowkin.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/equipped-HELMET-shadowkin.png
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#18 FixShadowkin
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: YML

#20 Endrbranch2
  Resources/PatronTiers.yml
  Resources/PatronUsernames.yml
  Resources/Patrons.yml
  Resources/Textures/Logo/logo-st.png
  Resources/manifest.yml
Labels: Changes: YML

#29 ghost's skins
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/aghost6.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#32 latejoin и ipc додел, мёрджу сам
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Resources/Locale/ru-RU/stray/metabolizer.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Stray/Body/Organs/ipc.yml
  Resources/Prototypes/Stray/Body/Parts/ipc.yml
  Resources/Prototypes/Stray/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Stray/Species/ipc.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/Stray/Mobs/Customization/IPC/ipc_screens.rsi/eyesangry.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#33 Endrbranch2
  Resources/Prototypes/Stray/Body/Organs/ipc.yml
  Resources/Prototypes/Stray/Body/Prototypes/ipc.yml
  Resources/Prototypes/Stray/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Stray/InventoryTemplates/ipc_inventory_template.yml
  Resources/ServerInfo/Rules.txt
Labels: Changes: YML

#34 Ghostes
  Content.Client/Stray/CustomGhosts/CustomGhostsSystem.cs
  Content.Server/Stray/CustomGhosts/CustomGhostsSystem.cs
  Content.Shared/Stray/CustomGhosts/CustomGhostsComponent.cs
  Content.Shared/Stray/CustomGhosts/SharedCustomGhosts.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/1.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/10.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/11.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/12.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/13.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/14.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/15.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/16.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/17.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/18.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/19.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/2.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/20.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/21.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/22.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/23.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/24.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/25.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/26.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/27.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/28.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/29.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/3.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/30.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/31.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/32.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/33.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/4.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/5.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/6.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/7.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/8.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/9.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/BioMass.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/endr_animet.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/localhost@GGados.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/meta.json
  Resources/Textures/Stray/Mobs/Customization/Ghosts/Test.rsi/animated.png
  Resources/Textures/Stray/Mobs/Customization/Ghosts/Test.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML

#35 Update atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
Labels: Changes: YML

#36 GhostFixCM
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/1.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/2.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/3.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/4.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/5.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#37 MaxWellCM
  Content.Server/Stray/AudioLoop/AudioLoopSystem.cs
  Content.Shared/Stray/AudioLoop/AudioLoopComponent.cs
  Content.Shared/Stray/AudioLoop/SharedAudioLoopSystem.cs
  Resources/Audio/Stray/Fun/maxwell-the-cat-theme.ogg
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Stray/Entities/Objects/Fun/toys.yml
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/BioMass.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/Kotovasu.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/meta.json
  Resources/Textures/Stray/Objects/Fun/toys.rsi/maxwell.png
  Resources/Textures/Stray/Objects/Fun/toys.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML

#40 Rand ghosts
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/10.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/11.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/12.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/13.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/14.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/15.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/16.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/17.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/18.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/19.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/2.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/20.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/21.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/22.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/23.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/24.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/25.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/26.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/27.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/28.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/29.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/3.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/4.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/5.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/6.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/7.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/8.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/9.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/dune.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/endr_animet.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/felind.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/shadowkin.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/vulpkin.png
Labels: Changes: Sprite, Changes: YML

#41 gugugaga
  Resources/Prototypes/Species/slime.yml
Labels: Changes: YML

#42 sidrbleat
  Resources/Locale/ru-RU/deltav/drinks_custom.ftl
  Resources/Locale/ru-RU/stray/reagents/drinks.ftl
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/Stray/Entities/Objects/Consumable/Drinks/Drinks.yml
  Resources/Prototypes/Stray/Reagents/Materials/Consumable/Drink/NewAlcohol.yml
  Resources/Prototypes/Stray/Recipes/Reactions/NewDrinks.yml
  Resources/Textures/Clothing/OuterClothing/Coats/bomber.rsi/meta.json
  Resources/Textures/Stray/Objects/Consumable/Drinks/Sidr.rsi/icon.png
  Resources/Textures/Stray/Objects/Consumable/Drinks/Sidr.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#47 gagaegadgsrgvsdrgsdrgngvjuhdbguerhguvehurg
  Resources/Prototypes/Stray/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Stray/Entities/Objects/Consumable/Drinks/Drinks.yml
  Resources/Prototypes/Stray/Reagents/Materials/Consumable/Drink/NewAlcohol.yml
  Resources/Prototypes/Stray/Recipes/Reactions/NewDrinks.yml
Labels: Changes: YML

#49 fixedAlchol
  Resources/Prototypes/Stray/Entities/Objects/Consumable/Drinks/Drinks.yml
  Resources/Prototypes/Stray/Reagents/Materials/Consumable/Drink/NewAlcohol.yml
  Resources/Prototypes/Stray/Recipes/Reactions/NewDrinks.yml
Labels: Changes: YML
