Repository EndrAnimet/DeltaV-Stray, pull requests merged in 2024-11, with the labels that each got.

#128 clustergrenadefix
  Content.Server/Explosion/EntitySystems/ClusterGrenadeSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Stray/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: C#, Changes: YML

#129 Уже не актуально
  Resources/Maps/aspid.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/aspid.yml
Labels: Changes: Map, Changes: YML

#130 Почти актуально
  Resources/Maps/Stray/centcomm.yml
  Resources/Maps/chibi.yml
  Resources/Maps/micro.yml
  Resources/Maps/omega.yml
Labels: Changes: Map, Changes: YML

#131 Box.
  Resources/Maps/box.yml
  Resources/Prototypes/Maps/box.yml
Labels: Changes: Map, Changes: YML

#133 DoDoMapso
  Resources/Maps/Stray/centcomm.yml
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: Changes: Map, Changes: YML

#134 Blood
  Content.Client/EE/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/EE/FootPrint/FootPrintsSystem.cs
  Content.Server/EE/FootPrint/PuddleFootPrintsSystem.cs
  Content.Shared/EE/Footprint/FootPrintComponent.cs
  Content.Shared/EE/Footprint/FootPrintVisuals.cs
  Content.Shared/EE/Footprint/FootPrintsComponent.cs
  Content.Shared/EE/Footprint/PuddleFootPrintsComponent.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/EE/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/EE/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/EE/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/EE/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/EE/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/EE/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/EE/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/EE/Effects/footprints.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML

#132 ЭТО ЖЕ ТАРХУН!!!
  Resources/Maps/chibi.yml
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/soda.yml
Labels: Changes: Map, Changes: YML

#138 yaml fix НЕ МЕРДЖИТЬ
  Resources/Prototypes/Stray/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Stray/Flavors/flavors.yml
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertengineer.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertjanitor.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertmedical.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/salvage.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/wizard.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/warden.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Bio/general.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/piratecaptain.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatatmos.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatbar.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcap.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcargo.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatce.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatengi.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathydro.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmed.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatminer.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatparamed.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsci.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsec.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwarden.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/bishop.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/hephaestus.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/hephaestus_titan.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/morpheus.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/nanotrasen.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/zenghu.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/meta.json
  Resources/Textures/Stray/Ecclessia/Clothing/Eyes/hud.rsi/meta.json
  Resources/Textures/Stray/Ecclessia/Objects/Specific/Chapel/Books.rsi/meta.json
  Resources/Textures/Stray/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Stray/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Stray/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/Stray/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Stray/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Stray/Structures/Machines/printer.rsi/panel.png
Labels: Changes: Sprite, Changes: YML

#145 work
  Content.Server/Shuttles/Components/StationCargoShuttleComponent.cs
  Resources/Prototypes/DeltaV/Entities/Structures/Windows/tinted_windows.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Maps/split.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_bottom.png
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_bottomLeft.png
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_bottomRight.png
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_center.png
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_left.png
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_right.png
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_top.png
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_topLeft.png
  Resources/Textures/NES/GUI/NES_Style/Storage/piece_topRight.png
  Resources/Textures/NES/Objects/Devices/pda.rsi/equipped-IDCARD.png
  Resources/Textures/NES/Objects/Devices/pda.rsi/id_overlay.png
  Resources/Textures/NES/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon-open.png
  Resources/Textures/NES/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon.png
  Resources/Textures/NES/Objects/Tools/Toolboxes/toolbox_red.rsi/icon-open.png
  Resources/Textures/NES/Objects/Tools/Toolboxes/toolbox_red.rsi/icon.png
  Resources/Textures/NES/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon-open.png
  Resources/Textures/NES/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/clock_window.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/frosted_window.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/meta.json
  Resources/Textures/NES/Structures/Windows/directional.rsi/plasma_reinforced_window.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/plasma_window.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/reinforced_window.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/tinted_window.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/uranium_reinforced_window.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/uranium_window.png
  Resources/Textures/NES/Structures/Windows/directional.rsi/window.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/storage.png
Labels: Changes: C#, Changes: Map, Changes: Sprite, Changes: YML, size/S
