Repository EndrAnimet/DeltaV-Stray, pull requests merged in 2024-07, with the labels that each got.

#57 РСУ и ГП
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
  Content.Client/RCD/RCDMenu.xaml
  Resources/Locale/ru-RU/stray/items/tools.ftl
  Resources/Locale/ru-RU/stray/research.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/SimpleStation14/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Stray/Body/Organs/ipc.yml
  Resources/Prototypes/Stray/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Stray/Entities/Objects/Tools/RCD.yml
  Resources/Prototypes/Stray/RCD/rcd.yml
  Resources/Prototypes/Stray/Recipes/Lathes/RCD.yml
  Resources/Prototypes/Stray/Research/industrial.yml
  Resources/Textures/Interface/Radial/RCD/BPipe.png
  Resources/Textures/Interface/Radial/RCD/FPipe.png
  Resources/Textures/Interface/Radial/RCD/Filter.png
  Resources/Textures/Interface/Radial/RCD/Mixer.png
  Resources/Textures/Interface/Radial/RCD/PPump.png
  Resources/Textures/Interface/Radial/RCD/PVent.png
  Resources/Textures/Interface/Radial/RCD/Pipe.png
  Resources/Textures/Interface/Radial/RCD/Scrubber.png
  Resources/Textures/Interface/Radial/RCD/TPipe.png
  Resources/Textures/Interface/Radial/RCD/Tubes.png
  Resources/Textures/Interface/Radial/RCD/VPump.png
  Resources/Textures/Interface/Radial/RCD/Vent.png
  Resources/Textures/Interface/Radial/RCD/Windoor.png
  Resources/Textures/Interface/Radial/RCD/WindoorSecure.png
  Resources/Textures/Interface/Radial/RCD/glass_shuttle_airlock.png
  Resources/Textures/Interface/Radial/RCD/shuttle_airlock.png
  Resources/Textures/Interface/Radial/RCD/shuttle_wall.png
  Resources/Textures/Stray/Objects/Tools/arcd.rsi/icon.png
  Resources/Textures/Stray/Objects/Tools/arcd.rsi/inhand-left.png
  Resources/Textures/Stray/Objects/Tools/arcd.rsi/inhand-right.png
  Resources/Textures/Stray/Objects/Tools/arcd.rsi/meta.json
  Resources/Textures/Stray/Objects/Tools/crcd.rsi/icon.png
  Resources/Textures/Stray/Objects/Tools/crcd.rsi/inhand-left.png
  Resources/Textures/Stray/Objects/Tools/crcd.rsi/inhand-right.png
  Resources/Textures/Stray/Objects/Tools/crcd.rsi/meta.json
  Resources/Textures/Stray/Objects/Tools/rcad.rsi/icon.png
  Resources/Textures/Stray/Objects/Tools/rcad.rsi/inhand-left.png
  Resources/Textures/Stray/Objects/Tools/rcad.rsi/inhand-right.png
  Resources/Textures/Stray/Objects/Tools/rcad.rsi/meta.json
  Resources/Textures/Stray/Structures/Storage/supermatter.rsi/bounty.png
  Resources/Textures/Stray/Structures/Storage/supermatter.rsi/captains_paper.png
  Resources/Textures/Stray/Structures/Storage/supermatter.rsi/invoice.png
  Resources/Textures/Stray/Structures/Storage/supermatter.rsi/paper.png
Labels: Changes: Localization, Changes: Map, Changes: Sprite, Changes: YML, Changes: UI

#58 КПК, Скафандр мистагога, шлема сумеречников
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Stray/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Stray/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Stray/Roles/Jobs/Command/CentralCommander.yml
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/mystagogue.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/mystagogue.rsi/icon.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/mystagogue.rsi/inhand-left.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/mystagogue.rsi/inhand-right.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/mystagogue.rsi/meta.json
Labels: Changes: Map, Changes: Sprite, Changes: YML

#59 Стены и окна
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Changes: YML

#60 holyshish
  Content.Server/Body/Systems/RespiratorSystem.cs
  Resources/Prototypes/Stray/Entities/Objects/Specific/Security/security.yml
  Resources/Prototypes/Stray/Stack/other_stacks.yml
  Resources/Textures/Shaders/drunk.swsl
Labels: Changes: C#, Changes: YML

#62 Ну типа перевод
  Resources/Locale/ru-RU/deltav/station-laws/laws.ftl
Labels: Changes: Localization, Changes: YML

#63 Кучка
  Resources/Locale/ru-RU/deltav/station-laws/laws.ftl
  Resources/Locale/ru-RU/stray/clothing/back/back.ftl
  Resources/Locale/ru-RU/stray/loadouts/com.ftl
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Stray/Catalog/Fills/Back/StarterGear/backpack.yml
  Resources/Prototypes/Stray/Catalog/Fills/Back/StarterGear/duffelbag.yml
  Resources/Prototypes/Stray/Catalog/Fills/Back/StarterGear/satchel.yml
  Resources/Prototypes/Stray/Entities/Objects/Weapons/Guns/PKA.yml
  Resources/Prototypes/Stray/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Stray/Loadouts/Jobs/Command/BlueShield.yml
  Resources/Prototypes/Stray/Loadouts/Jobs/loadout_groups.yml
  Resources/Prototypes/Stray/Loadouts/Jobs/role_loadouts.yml
  Resources/Prototypes/Stray/Loadouts/role_loadouts.yml
  Resources/ServerInfo/Rules.txt
Labels: Changes: Localization, Changes: YML

#64 Правила, перчатки и ифрит
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/ServerInfo/Rules.txt
Labels: Changes: YML

#66 Singular
  Content.Client/Singularity/SingularityOverlay.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Shared/Singularity/Components/SingularityDistortionComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Textures/Shaders/singularity.swsl
Labels: Changes: C#, Changes: YML

#67 Endrbranch2
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Stray/Entities/Structures/Machines/printercentcomm.yml
  Resources/Textures/Logo/icon-ebg/icon-128x128.png
  Resources/Textures/Logo/icon-ebg/icon-16x16.png
  Resources/Textures/Logo/icon-ebg/icon-24x24.png
  Resources/Textures/Logo/icon-ebg/icon-256x256.png
  Resources/Textures/Logo/icon-ebg/icon-32x32.png
  Resources/Textures/Logo/icon-ebg/icon-48x48.png
  Resources/Textures/Logo/icon-ebg/icon-64x64.png
  Resources/Textures/Logo/logo-ebg.png
  Resources/Textures/Stray/Structures/Machines/printerсс.rsi/building.png
  Resources/Textures/Stray/Structures/Machines/printerсс.rsi/icon.png
  Resources/Textures/Stray/Structures/Machines/printerсс.rsi/idle.png
  Resources/Textures/Stray/Structures/Machines/printerсс.rsi/inserting.png
  Resources/Textures/Stray/Structures/Machines/printerсс.rsi/meta.json
  Resources/Textures/Stray/Structures/Machines/printerсс.rsi/panel.png
  Resources/manifest.yml
Labels: Changes: Sprite, Changes: YML

#68 Boosty nicks
  Resources/PatronUsernames.yml
  Resources/Patrons.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/kidz.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#69 Суп из опилок
  Resources/Locale/ru-RU/stray/items/Consumable/Food.ftl
  Resources/Locale/ru-RU/stray/reagents/chemicals.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Stray/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Stray/Reagents/chemicals.yml
  Resources/Prototypes/Stray/Recipes/Cooking/meal_recipes.yml
Labels: Changes: Localization, Changes: YML

#71 agieogajeigjaioegjrioagjior
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Stray/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Stray/Loadouts/Miscellaneous/loadout_groups.yml
  Resources/Prototypes/Stray/Loadouts/Miscellaneous/socks.yml
  Resources/Prototypes/Stray/Loadouts/Miscellaneous/underpants.yml
  Resources/Prototypes/Stray/Loadouts/Miscellaneous/undershirt.yml
  Resources/Textures/Stray/Objects/Fun/toys.rsi/Dots.png
  Resources/Textures/Stray/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#72 не очень-то и важно
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/stray/items/items.ftl
  Resources/Locale/ru-RU/stray/weapons/ranged/weapon.ftl
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/improvised/musket.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Stray/Entities/Objects/Weapons/Guns/battery_guns.yml
  Resources/Prototypes/Stray/Recipes/Crafting/Graphs/improvised/makeshift_laser.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgbasic.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgcwn.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgeng.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgjan.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgmed.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgmin.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgsec.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgser.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/roboticist.yml
  Resources/Textures/Logo/logo-ebg.png
Labels: Changes: C#, Changes: Localization, Changes: YML

#74 ЧУЛКИ!!11!!!1
  Resources/Prototypes/Entities/Clothing/Under/under.yml
  Resources/Prototypes/Stray/Entities/Clothing/Under/StripedSocks.yml
  Resources/Textures/Clothing/Under/Socks/bee.rsi/equipped.png
  Resources/Textures/Clothing/Under/Socks/bee.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/coder.rsi/equipped.png
  Resources/Textures/Clothing/Under/Socks/coder.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#75 лодауты
  Resources/Locale/ru-RU/stray/clothing/under/pants.ftl
  Resources/Locale/ru-RU/stray/clothing/under/shirts.ftl
  Resources/Locale/ru-RU/stray/clothing/under/socks.ftl
  Resources/Locale/ru-RU/stray/flavors/flavors.ftl
  Resources/Locale/ru-RU/stray/reagents/chemicals.ftl
  Resources/Prototypes/Stray/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Stray/Flavors/flavors.yml
  Resources/Prototypes/Stray/Loadouts/Miscellaneous/loadout_groups.yml
  Resources/Prototypes/Stray/Loadouts/Miscellaneous/socks.yml
  Resources/Prototypes/Stray/Loadouts/Miscellaneous/underpants.yml
  Resources/Prototypes/Stray/Loadouts/Miscellaneous/undershirt.yml
  Resources/Prototypes/Stray/Reagents/chemicals.yml
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/sawdust.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#77 FixShadowkins
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: YML

#79 Мелочи
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Cargo/courier.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Stray/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/roboticist.yml
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/3.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost.rsi/shadowkin.png
Labels: Changes: Sprite, Changes: YML

#80 приколы
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SimpleStation14/Species/shadowkin.yml
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/Stray/Loadouts/Jobs/Security/detective.yml
  Resources/Textures/Structures/Furniture/furniture.rsi/rack.png
  Resources/Textures/Structures/Power/substation.rsi/screen_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall.png
Labels: Changes: Sprite, Changes: YML
