Repository EndrAnimet/DeltaV-Stray, pull requests merged in 2024-12, with the labels that each got.

#152 Научный скафандр
  Resources/Prototypes/Catalog/Fills/Lockers/science.yml
  Resources/Prototypes/Stray/Entities/Clothing/Head/hardsuit-helmet.yml
  Resources/Prototypes/Stray/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/equipped-head-light-vox.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/equipped-head-light.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/equipped-head-unshaded.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/equipped-head-vox.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/equipped-head.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/icon-flash.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/icon-unshaded.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/icon.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/light-overlay.png
  Resources/Textures/Stray/Clothing/Head/Hardsuits/sciencehead.rsi/meta.json
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/science.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/science.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/science.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/science.rsi/icon.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/science.rsi/inhand-left.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/science.rsi/inhand-right.png
  Resources/Textures/Stray/Clothing/OuterClothing/Hardsuits/science.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, size/M

#153 fixs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/_NES/Crawling/Systems/CrawlingSystem.cs
  Resources/Audio/NES/Lobby/BehindTheWindow.ogg
  Resources/Audio/NES/Lobby/SSCollab.ogg
  Resources/Audio/NES/Lobby/credits.txt
  Resources/Audio/NES/Nuke/Nuke2.ogg
  Resources/Audio/NES/Nuke/credits.txt
  Resources/Prototypes/SoundCollections/NukeMusic.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/audio.yml
Labels: Changes: C#, Changes: YML, Changes: Audio, size/S

#155 бриллианты
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
Labels: Changes: YML

#158 Pr work
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Light/Components/HandheldLightComponent.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Structures/Decoration/decorated_fir_tree.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/strobe_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NES/Entities/Mechanic/base_droid.yml
  Resources/Textures/NES/Effects/LightMasks/cone.png
  Resources/Textures/NES/Effects/LightMasks/double_cone.png
Labels: Changes: C#, Changes: YML

#160 pens and nuke resprite
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/_NES/Entities/Objects/Misc/pen.yml
  Resources/Textures/NES/Objects/Misc/nuke.rsi/meta.json
  Resources/Textures/NES/Objects/Misc/nuke.rsi/nukefestive.png
  Resources/Textures/NES/Tiles/dark_herringbone.png
  Resources/Textures/NES/Tiles/dark_pavement_vertical.png
  Resources/Textures/NES/Tiles/steel_herringbone.png
  Resources/Textures/NES/Tiles/steel_pavement_vertical.png
  Resources/Textures/NES/Tiles/white_herringbone.png
  Resources/Textures/NES/Tiles/white_pavement_vertical.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/e_sword.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/e_sword_blade.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/icon.png
Labels: Changes: Sprite, Changes: YML, size/M

#163 Pr work
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, size/S

#166 Pr work
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/NES/Objects/Misc/mecha.rsi/meta.json
  Resources/Textures/NES/Objects/Misc/mecha.rsi/pod-active.png
  Resources/Textures/NES/Objects/Misc/mecha.rsi/pod.png
  Resources/Textures/NES/Structures/Machines/exosuit_fabricator.rsi/fab-active.png
  Resources/Textures/NES/Structures/Machines/exosuit_fabricator.rsi/fab-idle.png
  Resources/Textures/NES/Structures/Machines/exosuit_fabricator.rsi/fab-load.png
  Resources/Textures/NES/Structures/Machines/exosuit_fabricator.rsi/fab-o.png
  Resources/Textures/NES/Structures/Machines/exosuit_fabricator.rsi/meta.json
  Resources/Textures/NES/Structures/Machines/exosuit_fabricator.rsi/unlit-building.png
  Resources/Textures/NES/Structures/Machines/exosuit_fabricator.rsi/unlit.png
  Resources/Textures/NES/Structures/Machines/fax_machine.rsi/icon.png
  Resources/Textures/NES/Structures/Machines/fax_machine.rsi/idle.png
  Resources/Textures/NES/Structures/Machines/fax_machine.rsi/inserting.png
  Resources/Textures/NES/Structures/Machines/fax_machine.rsi/inserting_hamster.png
  Resources/Textures/NES/Structures/Machines/fax_machine.rsi/inserting_mothroach.png
  Resources/Textures/NES/Structures/Machines/fax_machine.rsi/inserting_mouse.png
  Resources/Textures/NES/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/NES/Structures/Machines/fax_machine.rsi/printing.png
  Resources/Textures/NES/Structures/Machines/telecomms.rsi/icon.png
  Resources/Textures/NES/Structures/Machines/telecomms.rsi/meta.json
  Resources/Textures/NES/Structures/Machines/telecomms.rsi/panel.png
  Resources/Textures/NES/Structures/Machines/telecomms.rsi/unlit.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Changes: UI, size/L

#167 lodkaCry
  Resources/Prototypes/DeltaV/Guidebook/rules.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/aspid.yml
  Resources/Prototypes/Maps/astra.yml
  Resources/Prototypes/Maps/avrite.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/delta.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gelta.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/ishimura.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/outpost.yml
  Resources/Prototypes/Maps/paper.yml
  Resources/Prototypes/Maps/pearl.yml
  Resources/Prototypes/Maps/pilgrim.yml
  Resources/Prototypes/Maps/split.yml
  Resources/Prototypes/Maps/submarine.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Maps/train.yml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Biological.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Elements.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Foods.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Narcotics.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Other.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Pyrotechnic.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Toxins.xml
  Resources/ServerInfo/Guidebook/DeltaV/AlertProcedure.xml
  Resources/ServerInfo/Guidebook/DeltaV/Epistemics/GlimmerCreatures.xml
  Resources/ServerInfo/Guidebook/DeltaV/Justice.xml
  Resources/ServerInfo/Guidebook/DeltaV/Logistics/TradeStation.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Rodentia.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Vulpkanin.xml
  Resources/ServerInfo/Guidebook/ReferenceTables/Drinks.xml
  Resources/ServerInfo/Guidebook/Security/CriminalRecords.xml
  Resources/ServerInfo/Nyanotrasen/Guidebook/Epistemics/Altar.xml
Labels: Changes: Map, Changes: Documentation, Changes: YML, size/M

#168 quite local
  Resources/Locale/ru-RU/deltav/abilities/powers.ftl
  Resources/Locale/ru-RU/deltav/abilities/psionic.ftl
  Resources/Locale/ru-RU/deltav/research/technologies.ftl
  Resources/Locale/ru-RU/deltav/station-events/station-event-system.ftl
  Resources/Locale/ru-RU/deltav/weapons/ranged/energygun.ftl
  Resources/Locale/ru-RU/paper/paper-misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Prototypes/DeltaV/Actions/types.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: Localization, Changes: YML, size/M

#170 мантис фикс
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
Labels: Changes: YML, size/S

#169 Sci rig
  Resources/Prototypes/Catalog/Fills/Lockers/science.yml
Labels: Changes: YML, size/XS

#172 моль съела трусы
  Resources/Prototypes/Stray/Entities/Clothing/Under/pants.yml
  Resources/Prototypes/Stray/Entities/Clothing/Under/shirts.yml
  Resources/Prototypes/Stray/Entities/Clothing/Under/socks.yml
Labels: Changes: YML, size/S
