Repository EndrAnimet/DeltaV-Stray, pull requests merged in 2024-08, with the labels that each got.

#83 Box recast
  Resources/Maps/box.yml
  Resources/Prototypes/Maps/box.yml
Labels: Changes: Map, Changes: YML

#84 Resprite
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Textures/Structures/Furniture/furniture.rsi/rack.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/empty.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/full.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-charged.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-charging.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-empty.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/open.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
  Resources/Textures/Structures/Power/smes.rsi/smes-oc0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og3.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og4.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og5.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-open.png
  Resources/Textures/Structures/Power/smes.rsi/smes.png
  Resources/Textures/Structures/Power/smes.rsi/static.png
  Resources/Textures/Structures/Power/substation.rsi/charging.png
  Resources/Textures/Structures/Power/substation.rsi/dead.png
  Resources/Textures/Structures/Power/substation.rsi/full.png
  Resources/Textures/Structures/Power/substation.rsi/meta.json
  Resources/Textures/Structures/Power/substation.rsi/screen.png
  Resources/Textures/Structures/Power/substation.rsi/screen_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation.png
  Resources/Textures/Structures/Power/substation.rsi/substation_static.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall_static.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_bitem.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmp.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmx.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#78 agegsagsergrsg
  Content.Client/Stray/Utilitys/LogMessageSender/LogMessageSystem.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Stray/Utilitys/PopupOnInteract/PopupOnInteractSystem.cs
  Content.Shared/Stray/Utilitys/LogMessageSender/SharedLogMessageSenderSystem.cs
  Content.Shared/Stray/Utilitys/PopupOnInteract/PopupOnInteractComponent.cs
  Content.Shared/Stray/Utilitys/PopupOnInteract/SharedPopupOnInteractSystem.cs
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Stray/Entities/Objects/Other/SomeGoodShit.yml
  Resources/Textures/Clothing/Shoes/Boots/laceups.rsi/icon.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health3.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/antifallpotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/antiponospotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/belt.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/bluepotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/graybrownraspberrypotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/greenpotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/greypotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/jumpboots.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/jumpbootsDirections.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/lgbtpotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/magboots.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/magbootsDirections.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/magbootsDirectionsLight.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/mboss.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/meta.json
  Resources/Textures/Stray/Objects/Other/sgs.rsi/moss.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/msoss.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/mtoss.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/nonshittypotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/redpotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/shittypotionglass.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/sneekeboots.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/sneekebootsDirections.png
  Resources/Textures/Stray/Objects/Other/sgs.rsi/sohpacket.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: Documentation, Changes: YML

#87 gihgfouihfgdohifioghfgiohgoihfgoihgoihrgriohfiohrrihriohgirohg
  Content.Client/Camera/CameraRecoilSystem.cs
  Content.Client/Drunk/DrunkSystem.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Stray/SpriteOnOffState/SpriteOnOffStateSystem.cs
  Content.Server/Stray/SpriteOnOffState/SpriteOnOffStateSystem.cs
  Content.Shared/Camera/CameraRecoilComponent.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/Stray/SpriteOnOffState/SharedSpriteOnOffStateSystem.cs
  Content.Shared/Stray/SpriteOnOffState/SpriteOnOffStateComponent.cs
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/stray/reagents/medicine.ftl
  Resources/Prototypes/Stray/Entities/Objects/Fun/cards.yml
  Resources/Prototypes/Stray/Entities/Objects/Fun/dakimakuras.yml
  Resources/Prototypes/Stray/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Stray/Reagents/medicine.yml
  Resources/Textures/Shaders/singularity.swsl
  Resources/Textures/Stray/Objects/Fun/dakimakuras.rsi/alitaBack.png
  Resources/Textures/Stray/Objects/Fun/dakimakuras.rsi/alitaFront.png
  Resources/Textures/Stray/Objects/Fun/dakimakuras.rsi/meta.json
  Resources/Textures/Stray/Objects/Fun/dakimakuras.rsi/nestorBack.png
  Resources/Textures/Stray/Objects/Fun/dakimakuras.rsi/nestorFront.png
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/adpantidote.png
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/adpantidote_empty.png
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/adpstimulator.png
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/adpstimulator_empty.png
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/meta.json
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/nanogipodnimalka.png
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/nanogipodnimalka_empty.png
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/otvsegolechilka.png
  Resources/Textures/Stray/Objects/Specific/Medical/adp.rsi/otvsegolechilka_empty.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Changes: UI

#88 На скорую руку
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/rplasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/ruranium.ftl
  Resources/Locale/ru-RU/stray/interaction-popup.ftl
  Resources/Maps/Shuttles/dart.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/Judge.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/DeltaV/Roles/Antags/listening_post.yml
  Resources/Prototypes/DeltaV/Roles/Antags/recruiter.yml
  Resources/Prototypes/DeltaV/Roles/Antags/synthesis_specialist.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/securityborg.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
  Resources/Prototypes/Stray/Roles/Jobs/Command/blueshield.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgbasic.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgcwn.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgeng.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgjan.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgmed.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgmin.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgsec.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/borgser.yml
  Resources/Prototypes/Stray/Roles/Jobs/Silicon/roboticist.yml
  Resources/Prototypes/game_presets.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/RP_Rules.txt
  Resources/ServerInfo/RulesLRP.txt
Labels: Changes: Localization, Changes: Map, Changes: Documentation, Changes: YML

#89 Metal belt
  Resources/Textures/Shaders/drunk.swsl
  Resources/Textures/Shaders/singularity.swsl
Labels: Changes: YML

#90 Endrbranch
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
Labels: Changes: Documentation, Changes: YML

#91 LittleFixShadowkins
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: YML

#92 - Небольшое обновление лодаутов СБ
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: YML

#97 приколы ОБР
  Resources/Maps/Ebengrad/centcomm.yml
  Resources/Maps/Shuttles/dart.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: Changes: Map, Changes: YML

#98 добавление торжественной куртки капитану в лодауты капитану, и внешнего стеклянного шлюза сб(перевод не включительно)
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: YML

#96 SoundsssAAAAAAAAAAAAA
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/Stray/Commands/AddStationAnnouncementsCommand.cs
  Resources/Audio/Announcements/attributions.yml
  Resources/Audio/Stray/Announcements/CentComR.ogg
  Resources/Audio/Stray/Announcements/CodeDelta.ogg
  Resources/Audio/Stray/Announcements/ERTarrival.ogg
  Resources/Audio/Stray/Announcements/MissionComplete.ogg
  Resources/Audio/Stray/Announcements/MissionFail.ogg
  Resources/Audio/Stray/Announcements/ObjectNearby.ogg
  Resources/Audio/Stray/Announcements/SignalCatched.ogg
  Resources/Audio/Stray/Announcements/SingularityEscape.ogg
  Resources/Audio/Stray/Announcements/TeslaEscape.ogg
  Resources/Audio/Stray/Announcements/ZombieInfectionStarted.ogg
  Resources/Audio/Stray/Announcements/attributions.yml
  Resources/Locale/en-US/station-events/events/custom-announcements.ftl
  Resources/Locale/ru-RU/station-events/events/custom-announcements.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#102 УВЫ
  Resources/Maps/aspid.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/aspid.yml
Labels: Changes: Map, Changes: YML

#103 Weapon
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/APS.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/AK103.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/Vityaz.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/Saiga12.yml
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/APS.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/AK103.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/Vityaz.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/Saiga12.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML

#106 ОБК и ЦК
  Resources/Locale/ru-RU/Ebengrad/radio-names.ftl
  Resources/Prototypes/Ebengrad/Entites/Clothing/Back/satchel.yml
  Resources/Prototypes/Ebengrad/Entites/Clothing/Ears/Headsets/headsets.yml
  Resources/Prototypes/Ebengrad/Entites/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Ebengrad/Entites/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Ebengrad/Entites/radio_channels.yml
  Resources/Textures/Ebengrad/Clothing/Ears/Headsets/merc.rsi/equipped-EARS.png
  Resources/Textures/Ebengrad/Clothing/Ears/Headsets/merc.rsi/icon.png
  Resources/Textures/Ebengrad/Clothing/Ears/Headsets/merc.rsi/meta.json
  Resources/Textures/Ebengrad/Clothing/Head/Hardsuits/ultra_ap_helm.rsi/equipped-HELMET.png
  Resources/Textures/Ebengrad/Clothing/Head/Hardsuits/ultra_ap_helm.rsi/icon.png
  Resources/Textures/Ebengrad/Clothing/Head/Hardsuits/ultra_ap_helm.rsi/meta.json
  Resources/Textures/Ebengrad/Clothing/Head/Hardsuits/ultra_helm.rsi/equipped-HELMET.png
  Resources/Textures/Ebengrad/Clothing/Head/Hardsuits/ultra_helm.rsi/icon.png
  Resources/Textures/Ebengrad/Clothing/Head/Hardsuits/ultra_helm.rsi/meta.json
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_ap_hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_ap_hardsuit.rsi/icon.png
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_ap_hardsuit.rsi/inhand-left.png
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_ap_hardsuit.rsi/inhand-right.png
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_ap_hardsuit.rsi/meta.json
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_hardsuit.rsi/icon.png
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_hardsuit.rsi/inhand-left.png
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_hardsuit.rsi/inhand-right.png
  Resources/Textures/Ebengrad/Clothing/OuterClothing/Hardsuits/ultra_hardsuit.rsi/meta.json
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_spec.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/Objects/Devices/encryption_keys.rsi/owh_label.png
Labels: Changes: Localization, Changes: Map, Changes: Sprite, Changes: YML

#108 Singularity magic
  Content.Client/Singularity/SingularityOverlay.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Shared/Singularity/Components/SingularityDistortionComponent.cs
  Content.Shared/Singularity/EntitySystems/SharedSingularitySystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Textures/Shaders/singularity.swsl
Labels: Changes: C#, Changes: YML, Changes: Shaders
